body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

button {
    background-color: #2eca6a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #77be93;
}

.button-secondary {
    background-color: #6c757d;
    margin-top: 10px;
}

.button-secondary:hover {
    background-color: #5a6268;
}

p {
    color: #555;
    font-size: 16px;
}

p strong {
    font-weight: bold;
}

.btn-secondary {
    color: #333;
    background-color: #ccc;
    border: 1px solid #ccc;
    padding: 10px 20px; /* Espacement interne */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Retirer le soulignement */
    display: inline-block; /* Assurer que le bouton soit sur une seule ligne */
    cursor: pointer; /* Changer le curseur au survol */
    transition: background-color 0.3s, border-color 0.3s; /* Transition douce */
}

.btn-secondary:hover {
    background-color: #b8b5b5; /* Couleur de fond au survol */
    border-color:  #b6b4b4; /* Bordure au survol */
}

